<html>

    <head>
        <title>Stockgame</title>
        <link href="/statics/main.css" rel="stylesheet" type="text/css"/>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    </head>

    <body id="app">
        <div id="action-panel">
            <div id="date-budget">
                {% if activeGame: %}
                <h1 id="date">{{ currentDate[0] }}</h1>
                {% endif %}
                <h1 id="budget"><span id="dollar-fade">$</span>{{ budget }}</h1>
            </div>
            <form action="/increment" method="post">
                <div id="new-stocks">
                    {% for option in options: %}
                    <div class="new-stock-row">
                        <h2>{{ option[0] }} <span>({{ option[2] }})</span></h2>
                        <input type="text" class="new-stock-input" placeholder="0.00" name={{ option[1] }}>
                    </div>
                    {% endfor %}
                </div>
                <div id="owned-stocks">
                    {% for stock in ownedStocks: %}
                    <div class="owned-stock-row">
                        <h2>{{ stock[0] }}</h2>
                        <h2>{{ stock[1] }}</h2>
                        <h2>{{ stock[2][-1] }}</h2>
                        <button class="sell">Sell</button>
                    </div>
                    {% endfor %}
                </div>
                <button type="submit" id="increment">Increment</button>
            </form>
        </div>

        <div id="graph-panel">
            <canvas id="lineChart"></canvas>
            <script>
                {% if not activeGame: %}
                mydata = {
                    labels: {{exampleLabels | safe}},
                    datasets: [
                        {
                            type: 'line',
                            data: {{exampleValues | safe}},
                            fill: false,
                            borderColor: "rgb(75, 192, 192)",
                            lineTension: 0.1

                        }
                    ]
                }
                {% endif %}

                {% if activeGame and not ownedStocks: %}
                mydata = {
                    labels: [""],
                    datasets: [
                        {
                            label: "",
                            type: 'line',
                            data: [],
                            fill: false,
                        }
                    ]
                }
                {% endif %}

                {% if activeGame and ownedStocks: %}
                var labelworkaround = [];
                {% for date in datesPast: %}
                labelworkaround.push('{{ date }}')
                {% endfor %}
                labelworkaround.push('{{ currentDate[1] }}')
                var mydatasets = []
                {% for stock in ownedStocks: %}
                mydata = []
                {% for value in stock[2]: %}
                if('{{value}}' == 'null'){
                    mydata.push(null);
                } else {
                    mydata.push({{value}});
                }
                {% endfor %}
                mydatasets.push({
                    label: '{{ stock[0] }}',
                    type: 'line',
                    data: mydata,
                    fill: false,
                    borderColor: "rgb(75, 200, 192)",
                    lineTension: 0.1
                })
                {% endfor %}
                mydata = {
                    labels: labelworkaround,
                    datasets: mydatasets
                }
                {% endif %}

                myoptions = {
                    responsive: true,
                    maintainAspectRatio: false
                }

                var ctx = document.getElementById("lineChart").getContext("2d");
                var lineChart = new Chart(ctx, {
                    type: 'line',
                    data: mydata,
                    options: myoptions
                    },
                )
            </script>
        </div>
        {% if not activeGame: %}
        <div id="start-blur"></div>
        <form action="/startGame" method="post">
            <button type="submit" id="start-button">Start Game</button>
        </form>
        {% endif %}
    </body>
</html>