/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: Gidole;
    src: url("./Gidole-Regular.otf") format("opentype");
}
* {
    scrollbar-width: auto;
    scrollbar-color: #ffffff #353535;
}
*::-webkit-scrollbar {
    width: 10px;
}
*::-webkit-scrollbar-track {
    background: #353535;
}
*::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
}
*::-webkit-scrollbar-corner {
    background-color: #353535;
}


/* App */
#app {
    display: flex;
}


/* Action panel (left) */
#action-panel {
    height: 100%;
    width: 25%;
    min-width: 300px;
    color: white;
    font-family: Gidole;
    background-color: #353535;
    overflow: scroll;
    text-align: center;
    cursor: default;
}
#date-budget {
    margin: 0 auto;
    margin-top: 65px;
    margin-bottom: 42px;
    width: 75%;
    text-align: center;
    font-size: 1.7em;
    line-height: 2em;
}
#date {
    text-decoration: underline;
}
#dollar-fade {
    opacity: 0%;
    transition: opacity 0.5s;
}
#budget:hover > #dollar-fade {
    opacity: 100%;
    transition: opacity 0.5s;
}
#budget {
    margin-top: 30px;
}
#new-stocks {
    margin: 0px auto;
    margin-bottom: 65px;
    width: 75%;
    text-align: left !important;
}
.new-stock-row {
    margin: 40px 0;
}
.new-stock-text {
    display: inline;
    cursor: pointer;
    padding-bottom: 0.1em;
    position: relative;
}
.new-stock-text::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.25s ease-out;
}
.new-stock-text:hover::before {
    width: 100%;
    left: 0;
    right: auto;
}
.stock-name {
    font-size: 1.5em !important;
}
.stock-price {
    font-size: 0.8em !important;
}
.new-stock-input {
    color: white;
    width: 25%;
    float: right;
    background-color: #191919;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 6px;
}
#owned-stocks {
    margin: 0 auto;
    margin-bottom: 65px;
    width: 75%;
}
.owned-stock-row {
    display: flex;
    justify-content: space-between;
    margin: 45px 0;
}
.sell {
    width: 20%;
}
#increment {
    margin: 0 auto;
    width: 50%;
    height: 3.5em;
}
.new-stock-row h2, .owned-stock-row h2 {
    display: inline-block;
    font-size: 1.1em;
}
button {
    background-color: #191919;
    border: none;
    color: white;
    cursor: pointer !important;
}
#description {
    width: 75%;
    margin: 70px auto;
}

/* Graph panel (right) */
#graph-panel {
    background-color: #191919;
    height: 100%;
    width: 100%;
    flex-grow: 1;
}

/* Start game */
#start-button {
    position: absolute; 
    width: 15%; 
    height: 10%; 
    background-color: #191919; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 11; 
    border: 5px solid #353535; 
    min-width: 200px;
}

.blur {
    position: absolute; 
    width: 100%; 
    height: 100%; 
    backdrop-filter: blur(10px); 
    z-index: 10;
}

/* End game */
#end-prompt {
    position: absolute; 
    width: 50%; 
    height: 35%; 
    max-width: 500px;
    background-color: #191919; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 11; 
    border: 5px solid #353535; 
    min-width: 200px;
    font-family: Gidole;
    color: white;
}

#end-budget {
    font-size: 5em;
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 45px;
    width: 50%;
}

#end-button {
    display: block;
    font-family: Gidole;
    margin: 0 auto;
    width: 50%;
    height: 20%;
    font-size: 2em;
}